.__youtube-chapters-in-player {
    left: 12px;
    bottom: 61px;
    z-index: 71;

    width: 50%;
    max-height: 80%;
}

.__youtube-chapters-in-player .ytp-panel {
    width: 100%;
    height: 100%;
}

.__youtube-chapters-in-player .ytp-menuitem[aria-checked=true] {
    background-color: rgba(255, 255, 255, .1)
}
.__youtube-chapters-in-player .ytp-menuitem[aria-checked=true] .ytp-menuitem-icon::before {
    content: '•';
    font-weight: bold;
}
